#animal-section .card-img {
  max-width: 250px;
  min-height: 180px;
  border-radius: 60px;
  border: thin solid rgba(0, 0, 0, 0.336);
}

#animal-section .details-btn,
.load-more-btn {
  text-decoration: none;
  color: white;
  background-color: rgb(58, 107, 47);
  padding-inline: 0.8rem;
  padding-block: 0.6rem;
  border-radius: 20px;
  font-size: 19px;
}

#animal-section .details-btn:hover,
.load-more-btn:hover {
  background-color: white;
  color: #3a6b2f;
  font-weight: bold;
  border: 2px solid #3a6b2f;
}

#animal-section .card-body {
  max-width: 260px;
}
