.footer {
  min-height: 160px;
  background-color: rgb(83, 161, 65, 0.8);
  color: #212529;
}
.footer-logo {
  max-width: 100px;
  max-height: 100px;
}

.footer-links {
  position: relative;
  min-width: 130px;
  text-decoration: none;
  color: #212529;
}

.footer-links::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #212529;
  transition: width 0.7s linear;
}

.footer-links:hover::after {
  width: 100%;
}
