*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf3dd;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* TITLE AND SUBTITLE */

.titles {
  color: #3a6b2f;
  font-weight: 600;
}

.subtitles {
  color: #3a6b2f;
  font-style: italic;
  font-weight: 600;
}

.navbar-height {
  margin-top: 110px;
}

/* SHELTER PAGE */

.shelter-section {
  min-height: calc(100vh - 160px - 110px);
  background-image: url("https://images.pexels.com/photos/13601506/pexels-photo-13601506.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.shelter-paragraph {
  background-color: rgb(245, 245, 245, 0.7);
  border-radius: 50px;
}

/* CRAS PAGE */

.cras-links,
.calendar {
  color: #3a6b2f;
  text-decoration: none;
  position: relative;
  font-weight: bold;
}

.cras-links::after,
.calendar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3a6b2f;
  transition: width 0.7s linear;
}

.cras-links:hover::after,
.calendar:hover::after {
  width: 100%;
}

.cras-links:hover {
  font-weight: bold;
}

/* DONATION PAGE */

.donation-section {
  /* min-height: calc(100vh - 160px - 110px); */
  max-width: 680px;
}

.month-donation-btn,
.monthly-form-btn {
  text-decoration: none;
  color: white;
  background-color: rgb(58, 107, 47);
  padding-inline: 1rem;
  padding-block: 0.8rem;
  border-radius: 20px;
}

.monthly-form-btn {
  font-size: 20px;
}

.month-donation-btn:hover,
.monthly-form-btn:hover {
  background-color: white;
  color: #3a6b2f;
  font-weight: bold;
  border: 2px solid #3a6b2f;
}

.iban {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
}

.donation-methods {
  background-color: #ccf3a4;
  padding-inline: 1rem;
  padding-block: 1rem;
  max-width: 750px;
  border-radius: 20px;
}

/* MONTHLY DONATION PAGE */

.monthly-donation-incipit {
  background-color: #ccf3a4;
  padding-inline: 1rem;
  padding-block: 1rem;
  max-width: 1000px;
  border-radius: 20px;
}

/* VOLUNTEERING PAGE */

.volunteering-section {
  min-height: calc(100vh - 160px - 110px);
}

.time-value {
  /* background-color: rgb(255, 115, 0, 0.8); */
  background-color: rgb(204, 243, 164);
  border-radius: 40px;
}
