.form-inputs {
  border: 1px solid black;
}

.form-inputs:focus {
  box-shadow: 0px 0px 12px #3a6b2f;
  border: 1px solid black;
}

#formGridCheckbox .form-check-input {
  border: 1px solid black;
  border-radius: 5px;
}

#formGridCheckbox .form-check-input:checked {
  background-color: #3a6b2f;
}

.register-section {
  min-height: calc(100vh - 160px - 110px);
}
